html {
    font-family: "Comic Sans MS", "Comic Sans", Arial;
}

h1, h2, h3 {
    font-family: Papyrus;
    color: purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

ul li {
    display: inline-block;
    padding: 16px;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: #AAA;
}

footer {
    background-color: #DDD;
    color: #555;
    text-align: center;
    padding: 16px;
}